body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #FFF;
  color: #000;
  height: 90px;
  border-bottom: 2px solid #696969
}

.header-logo {
  float: left;
  font-family: "Baloo";
  font-size: 36px;
  padding: 20px 60px;
}

.header-logo span {
  font-size: 25px;
}
  
.header-list {
  float: left;
  font-family: "Baloo";
  color:#fff;
  font-size: 20px;
  padding: 20px 25px;
  margin-top: 13px;
}

.main {
  padding: 10px 10px;
}

.picture img {
  width: 200px;
  height: auto;
}

.footer {
  background-color: #fff;
  color: #000;
  height: 30px;
  padding: 0px 60px;
}

.footer-logo {
  float: left;
  font-family: "Baloo";
  font-size: 25px;
  border-top: 2px solid #696969;
}

.footer-list {
  float: right;
}

