body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #FFF;
  color: #000;
  height: 90px;
  border-bottom: 2px solid #696969;
}

.header-logo {
  float: left;
  font-family: "Baloo";
  font-size: 36px;
  padding: 20px 60px 20px 15%;
}

.header-logo span {
  font-size: 25px;
}
  
.header-list {
  float: left;
  font-family: "Baloo";
  color:#fff;
  font-size: 20px;
  padding: 20px 25px;
  margin-top: 13px;
}

.btn {
  padding:4px 24px;
  color:white;
  display:inline-block;
}

.twitter {
  background-color:#55acee
}

.facebook {
  background-color:#3b5998
}

.note {
  background-color:#2dcdb5
}
    
}
.main {
  padding: 10px 15%;
}

.header-update {
  font-size: 15px;
  color: #696969;
}

.picture img {
  width: auto;
  height: 300px;
  margin: 0px 0px 0px 30px;
}

.picture il {
  line-height: 12px;
}

.picture span {
  font-size: 18px;
  font-weight: bold;
}

.research {
  width: 500px;
  height: auto;
  floart: left;
  margin-right: 40px;
}

.embed-c&c {
  float:left;
}

.agenda-c&c {
  float:right;
}

.footer {
  background-color: #fff;
  color: #000;
  height: 30px;
  border-top: 2px solid #696969;
}

.footer-logo {
  float: left;
  font-family: "Baloo";
  font-size: 25px;
  padding: 10px 0px 10px 15%
}

.footer-logo span {
  font-size: 20px;
}

.footer-list {
  float: right;
  padding: 10px 15% 10px 0px
}

