body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: left;
  color:#ffffff;
  font-size: 20px;
  padding: 20px 25px;
  margin-top: 13px;
}

.main {
  padding: 10px 10px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 50px;
  padding: 20px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
